html{
	background-color: #404040;
	height: 100%;
}

body{
	margin:0px;
}

.backgroundImage{
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url("../images/rainingBackground.gif");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: none;
}

#container{
	width: 60%;
	height: 100%;
	margin: auto;
}

#center{
	padding-top: 200px;
}

#logo{
	height: 400px;
	width: 100%;
	background-image: url("../images/finalLogoSingle.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

#message, p, h1{
	text-align: center;
	color: white;
	font-family: Helvetica, sans-serif;
}

a{
	color: rgb(180,37,37);
	text-decoration: none;
}

a:hover{
	color:white;
}