body {
    background-color: #CDFCFF;
    color: #4E7F82;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.center {
    margin: auto;
    width: 30%;
    text-align: center;
    margin-top: 10%;
    background-color: aquamarine;
    border-radius: 5%;
    padding: 20px;
}

h1 {
    font-size: 72px;
    color: white;
    margin: 0;
}

h3 {
    font-size: 30;
    margin: 5;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}

.temp, .desc, .wind {
    font-size: 40px;
    color: white;
}

.btn {
    cursor: hand;
}

hr {
    margin: 20px 0;
}